/**********************************************************
| # FONT
**********************************************************/

/* paste here */

/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: rgb(246, 255, 161);
    padding:10px;
    border: 1px dashed black;
}



